<section class="section">
  <% if notice.present? %>
    <div class="notification is-info is-light">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="container column is-half is-mobile">
    <%= form_tag(employees_path, method: :get) do %>
      <div class="columns">
        <div class="column is-four-fifths">
          <%= text_field_tag :search, params[:search], class: "input", placeholder: "Search" %>
        </div>
        <div class="column">
          <%= submit_tag 'Search', name: nil, class: "button is-fullwidth is-rounded is-black" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container column is-half is-mobile">
    <h1 class="is-size-3 is-size-4-mobile has-text-centered">Employees</h1>
  </div>

  <div class="columns is-mobile">
    <div class="column is-10 is-offset-2">
      <div class="column is-2">
        <%= link_to 'New Employee', new_employee_path, class: "button is-fullwidth is-rounded is-outlined is-primary" %>
      </div>
      <br>

      <div class="table-container">
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Salary</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= employee.name %></td>
                <td><%= employee.email %></td>
                <td><%= employee.role %></td>
                <td><%= number_to_currency(employee.salary, unit: "R$", separator: ",", delimiter: "") %></td>
                <td><%= link_to 'Show', employee, class: "button is-fullwidth is-rounded is-outlined is-info" %></td>
                <td><%= link_to 'Edit', edit_employee_path(employee), class: "button is-fullwidth is-rounded is-outlined is-dark" %></td>
                <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-fullwidth is-rounded is-outlined is-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>